APP_ENV=local
APP_URL=http://api.calvertchess.test

DB_HOST=db
DB_PORT=5432
DB_DATABASE=calvert_chess_coach_journal
DB_USERNAME=chess_coach
DB_PASSWORD=secret

REDIS_HOST=redis

NEXT_PUBLIC_APP_URL=http://calvertchess.test
NEXT_PUBLIC_API_URL=http://api.calvertchess.test
STOCKFISH_BINARY=/usr/games/stockfish
